<body style="background-color:lightgrey !important;">
        
    <mat-card class="example-card">
      <mat-card-header class="header-card" style="background-color:white !important">
          <!--<div mat-card-avatar class="example-header-image"></div>-->
          <!--<img mat-card-image class="background"  src="http://melissavandyke.com/wp-content/uploads/2015/09/code.jpg" alt="Photo of a Shiba Inu">-->
      </mat-card-header>
      <mat-card-content class="contentsbody" style="background-color:white !important">
        <img mat-card-image class="imagepro"  style="background-color:white !important" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAY8AAAAJDdjYzU0NWY2LTBjNzAtNDJkNy05ODk5LTk0MzU0YTZkYWI3YQ.jpg" alt="Photo of a Shiba Inu">
        <!--<div class="contettext"  style="background-color:white !important">-->
        <!--    <h2 class="titletext">Alexandros koulouris</h2>-->
    
        <!--http://ak8.picdn.net/shutterstock/videos/14500828/thumb/1.jpg-->
        <br />
        <br /> 
        <br /> 
        <br /> 
        <font size="6">
            Alexandros koulouris<br />
        </font>
            <font size="2">
             Software Engineer at Key Digital System<br />Key Digital Systems - University of Piraeus<br />
                   New York, New York 
             </font> 
        <br /> 
        <mat-divider class="divider-card"></mat-divider>
    </mat-card-content>
    
    <mat-card-actions  class="action-card" style="background-color:white !important">
        <br />  
        <p style="margin-left:2em; margin-right:2em;">
            Software Engineer with thorough hands-on experience in all levels of testing, including performance, functional, integration , system, regression and user acceptance testing. Supportive and enthusiastic team player dedicated to streamlining processes and efficiently resolving project issues. Willing to take ownership of core components. Worked closely with other team members to plan, design and develop robust solutions in a timely manner. Participating in various software development competitions ( i.e. hackathons ) and
            workshop.
        </p>
        <button  mat-button>LIKE</button>
        <button  mat-button>SHARE</button>
    </mat-card-actions>
    </mat-card>
    
    
    <mat-card  class="card-exp">
      <mat-card-header style="background-color:white !important">
          <br />
          <div   mat-card-avatar class="exp-header-image"></div>
          <!--<img mat-card-image class="keydigital-img" style="padding:0px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrnSVH2cG72z9fQ03HmbLRWKJOlKkVR497nTm_uBgyIsGC-FJ5" alt="Photo of a Shiba Inu">-->
    
          <mat-card-title id='#exp'  style="padding-left:5px!important; padding-top:10px!important; margin-top:10px!important;"><font size="5">Experience</font></mat-card-title>
      </mat-card-header>
      <mat-card-content class="exp2" style="background-color:white!important">
    
          <img  mat-card-image class="keydigital-img" style="padding:0px;" src="http://www.keydigital.com/images/kd_logo.png" alt="Photo of a Shiba Inu">
    
          <p style="padding-left:150px; padding-top:20px">
              Software Engineer <br /> Key Digital System<br />
              Nov 2017 - Present <br />
              New York City Area<br />
              <br />
              Worked on:<br />
              - Designed and coded testing procedures using Python<br />
              - Created and managed Python processes to gather and use data.<br />
              - Research, design and implement android application using Xamarin Android and<br />
              Native(Java) <br />
              - Windows Forms application using C#<br />
              - Linux administrator<br />
              - C#.NET<br />
          </p>
    
      </mat-card-content>
      <mat-card-content class="exp2" style="background-color:white!important">
          <mat-divider class="divider-card"></mat-divider>
          <img mat-card-image class="keydigital-img" style="padding:0px;" src="https://egritosgroup.gr/wp-content/themes/egritostheme/images/egritos-logo-dark.png" alt="Photo of a Shiba Inu">
    
          <p style="padding-left:150px; padding-top:20px">
              Software Developer <br /> Egritos Group<br />
              Jul 2016 – Nov 2017 <br />
              Greece<br />
              <br />
              Worked on:<br />
              - Xamarin Forms application for iOS and Android<br />
              - JS with Bootstrap front-end<br />
              - asp.net core mvc<br />
              - Data administrator (Sql server and Mysql)<br />
              - Linux administrator(apache2,nginx,kestrel><br />
              - C# .NET<br />
          </p>
    
      </mat-card-content>
    
      <mat-card-content class="exp2" style="background-color:white!important">
          <mat-divider class="divider-card"></mat-divider>
          <img mat-card-image class="keydigital-img" style="padding:0px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/46/Hewlett_Packard_Enterprise_logo.svg/2000px-Hewlett_Packard_Enterprise_logo.svg.png" alt="Photo of a Shiba Inu">
    
          <p style="padding-left:150px; padding-top:20px">
              Technical Support Representative <br /> Hewlett Packard <br />
              Feb 2016 – Jul 2016<br />
              Greece<br />
              <br />
              Worked on:<br />
              - Provide thorough technical support and problem resolution to HP clients for a wide range of products.<br />
              - Complete technical reports for each issue.<br />
              - Research issues on various computer systems and databases to resolve complaints, answer inquiries and outline solutions.<br />
              - Use of CRM programs like careforce, microsoft dynamics, Global newton-hp and wizpart-hp<br />
              - Working at tight deadlines and strict timeline in order to resolve an issue<br />
              - Keep customers informed of progress during issue lifecycle and make follow-up calls or communications in a timely manner.<br />
              - Maintain updated knowledge of company products and services to better provide customer support and service solutions.<br />
              - Maintain composure and patience in face of difficult customer situation
          </p>
      </mat-card-content>
      <mat-card-content class="exp2" style="background-color:white!important">
          <mat-divider class="divider-card"></mat-divider>
          <img mat-card-image class="keydigital-img" style="padding:0px;" src="https://pro.boxoffice.com/wp-content/uploads/2017/03/Village-Cinemas.jpg" alt="Photo of a Shiba Inu">
    
          <p  style="padding-left:150px; padding-top:20px">
              Operations Coordinator  <br /> VILLAGE ROADSHOW GREECE<br />
              2009 - Jul 2016<br />
              Greece<br />
              <br />
              Worked on:<br />
              - Logistics ( performing orders through sap , inventory counting)<br />
              - Daily Accounting<br />
              - Customer Service ,Sales & Marketing<br />
              - Resolving Daily technical issues<br />
          </p>
      </mat-card-content>
    </mat-card>
    
      <mat-card  class="card-exp" style="margin-bottom:00px!important;">
          <mat-card-header style="background-color:white !important">
              <br />
              <div mat-card-avatar class="edu-header-image"></div>
              <!--<img mat-card-image class="keydigital-img" style="padding:0px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrnSVH2cG72z9fQ03HmbLRWKJOlKkVR497nTm_uBgyIsGC-FJ5" alt="Photo of a Shiba Inu">-->
    
              <mat-card-title id='#target' style="padding-left:5px!important; padding-top:10px!important; margin-top:10px!important;"><font size="5">Education</font></mat-card-title>
          </mat-card-header>
    
          <mat-card-content class="exp2" style="background-color:white!important">
    
              <img  mat-card-image class="keydigital-img" style="padding:0px;" src="https://ebi-europa.eu/wp-content/uploads/2016/12/logo_piraeus.png" alt="Photo of a Shiba Inu">
             
    
              <p style="padding-left:150px; padding-top:20px">
                  University of Piraeus  <br /> Degree NameBachelor’s Degree Field Of StudyInformation and Communication Technologies - Department of Digital Systems GradeVery Good<br />
                  <br />
                  Activities and Societies: Grade on Thesis : Excellent ( 10 ) Subject : "Forensic examination of the email providers "
                  The Department of Digital Systems consists of two parts:<br />
                  <br />
                  1. Digital Communications and Networks <br />
                  <br />
                  The main goal of the "Digital Communications and Networks" is the theoretical and practical deepening and specialization of the students in the analysis, representation, simulation, design and management of telecommunication systems. The syllabus is broad and covers all the layers of a telecommunications network, from the Physical Layer all the way up to the Application Layer. <br />
             <br />
                  2.Digital Systems Security<br />
                  <br />
                  The main goal of the "Digital Systems Security" is to provide the students with the necessary theoretical and practical background on the analysis, design, development, organization and management of information security. The students are offered the option of getting certified as an ISO 27001:2005 INFORMATION SECURITY MANAGEMENT SYSTEM (ISMS) AUDITOR by an official international organization. <br />
              </p>
          </mat-card-content>
      </mat-card>



    <mat-card class="card-exp" style="margin-bottom:0px!important;">
            <mat-card-header style="background-color:white !important">
                    <br />
                    <div   mat-card-avatar class="exp-header-image-comment"></div>
                    <!--<img mat-card-image class="keydigital-img" style="padding:0px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrnSVH2cG72z9fQ03HmbLRWKJOlKkVR497nTm_uBgyIsGC-FJ5" alt="Photo of a Shiba Inu">-->
              
                    <mat-card-title id='#exp'  style="padding-left:5px!important; padding-top:10px!important; margin-top:10px!important;"><font size="5">Write a comment before you go</font></mat-card-title>
                </mat-card-header>

                
            <mat-card-content>

            <form onsubmit="" class="form-container">
                    <div class="form-row">
                            <input #Nametxt  type="text" id="form-name" class="form-textbox" required>
                            <label for="form-name" class="form-label">Full Name</label>
                        </div>
           </form>

           <form onsubmit="" class="form-container">
            <div class="form-row">
                    <!-- <textarea #commenttxt  rows="4" cols="50" class="form-textbox-comment"></textarea> -->
                    <textarea  #commenttxt  type="text" id="form-comment" class="form-textbox-comment" required></textarea>
                    <label for="form-comment" class="form-label-comment">Comment</label>
                </div>
                
   </form>
</mat-card-content>
<mat-card-actions align="end"  class="action-card" style="background-color:white !important">
   
    <button id="addcom" style="z-index:99;  background-color:#337ab7; margin-right:5px!important; margin-bottom:5px!important; margin-left:auto!important;" class="btn btn-primary pull-right" (click)="AddComment(Nametxt.value, commenttxt.value)">Add Comment</button>
</mat-card-actions>
</mat-card>

    
    <p style="margin-bottom:350px"  >
            
        <li  *ngFor="let comment of comments"> 

                <mat-card align="end" class="card-exp" style="margin-bottom:0px!important; margin-top:0px!important;">
                        <mat-card-header fxLayout="row"  style="background-color:white !important">   
                                <div  mat-card-avatar class="exp-header-image-avatar"></div>
                                <mat-card-title class="namecommnet"  style=" padding-left:5px!important; padding-top:7px!important; margin-top:7px;"><font size="5">{{ comment.name }}</font></mat-card-title>
                                <div fxFlex></div>
                                <!-- <mat-card-subtitle style="
                                left: 0; margin-left:00px!important">{{ comment.comment }}</mat-card-subtitle> -->
                                
                                <p class="date"   style=" "><font size="3">{{ comment.createdDate }}</font></p>
                                
                            </mat-card-header>    
                            
                            <mat-card-content>

                                 <pre style="position: relative; text-align: left; ">
{{comment.comment}}
                                 </pre>
                                    
                                    
                            </mat-card-content>
            </mat-card>
       </li>
    
    </p>


      <div class="sticky-container">
        <ul class="sticky">
            <li>
                    <img src="https://www.freepnglogos.com/uploads/linkedin-in-logo-png-1.png" width="50" height="50">
                    <p><a href="https://www.linkedin.com/in/alexandros-koulouris-716758a1/" target="_blank">Follow Me  on<br>Linkedin</a></p>
                   
                
            </li>
            <li>
                    <img class="instaimg" src="http://sguru.org/wp-content/uploads/2018/01/instagram-logo-png-transparent-background-1024x1024.png" width="40" height="41">
                    <p ><a style="margin-right:5px!important;" href="https://www.instagram.com/?hl=en" target="_blank">Follow Me on<br>Instagram</a></p>
                </li>
        </ul> 
    </div>


    
     
    <div class="footer">
            <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button> -->

      
            <a  class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                <font color="white"> Download my resume here</font>
              </a>
      <p>
          
      </p>
    </div>
    <button  (click)="scrolltop()" id="myBtn" title="Go to top">Top</button>
    </body>
    
    <!-- onclick="topFunction()" -->
    <!-- <div style="text-align:center">
      <h1>
        Welcome to {{ title }}!
      </h1>
      <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
    </div>
    <h2>Here are some links to help you start: </h2>
    <ul>
      <li>
        <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
      </li>
      <li>
        <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
      </li>
      <li>
        <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
      </li>
    </ul> -->
    
