
.imagepro {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    max-width: 150px;
    border-radius: 50%;
    top:135px;
    /*top: 200px;
    left: 350px;
    
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;*/
}

.example-card {
    top: 140px;
    max-width: 700px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    /*background-color: gray;*/
    /*background-image: url(http://melissavandyke.com/wp-content/uploads/2015/09/code.jpg);*/
}

.background {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 200px;
    height: 120px;
    /*max-height: 500px;*/
    /*background-color: aqua;*/
}
.header-card {
    height: 200px;
    /*width: 700px;*/
    background-image: url(http://www.te.com/content/dam/te-com/images/sensors/global/application-hero/binary-code.png);
   
}

.contentsbody {
    text-align: center;
    margin: 0px !important;
    padding: 0px !important;
}
.contettext {

    /*position: relative;
    width: 100%;*/
    text-align: center;
    /*top: 180px;*/
    /*position: absolute;
    top: 50%;s
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;*/
}
.action-card {
    margin: 0px !important;
    padding: 0px !important;
}

.divider-card {
    padding: 30px !important;
  
}

.card-exp {
    top: 140px!important;
    max-width: 700px;
    padding: 0px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.keydigital-img {
    /*background-image: url('http://www.keydigital.com/images/kd_logo.png');*/
    max-width: 130px;
    /*margin: 0px !important;*/
    padding: 10px !important;
    margin-top: 22px !important;
    margin-left: 0px;
    float: left;
}
.exp2 {
    margin: 0px !important;
    padding: 0px !important;
}

.exp-header-image {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrnSVH2cG72z9fQ03HmbLRWKJOlKkVR497nTm_uBgyIsGC-FJ5');
    background-size: contain;
    border-radius: 0%!important;
    padding-top:10px!important;
    margin-top:10px!important;
    padding-left:10px!important;
    margin-left:10px!important;
}

.edu-header-image {
    background-image: url('https://cdn0.iconfinder.com/data/icons/student-2/100/student-1-512.png');
    background-size: contain;
    border-radius: 0% !important;
    padding-top: 10px !important;
    margin-top: 10px !important;
    padding-left: 10px !important;
    margin-left: 10px !important;
}

.footer {
    z-index:99!important;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#333;
    color: white;
    text-align: center;
}

@media (max-width: 716px) 
{
  .example-card
  {
    margin-right:20px!important;
    margin-left:20px!important;
      }
  
  .card-exp
  {
margin-right:20px!important;
margin-left:20px!important;
  }
}
@media (max-width: 500px) 
{
#myBtn { font-size: 12px!important;
    padding: 14px!important;}}


#myBtn {
     position: fixed!important;
     z-index:99;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 10px;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(36, 106, 211);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
  }
  
  #myBtn:hover {
    background-color: #555;
  } 


  .sticky-container{
    padding:0px;
    margin:0px;
    position:fixed;
     left :-176px;
     /* right:-130px;  */
    top:230px;
    width:210px;
    z-index: 1100;
}
 .sticky li{
    list-style-type:none;
    background-color:#fff;
    color:#efefef;
    height:41px;
    padding:0px;
    margin:0px 0px 10px 0px;
    -webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;
    cursor:pointer;
}


.sticky li:hover{
    margin-right:-115px;
}
.sticky li img{
    float:right;
    /* margin:8px 2px;
    margin-right:5px;
     */
     margin-top: -3.7px;
     margin-right: -8.5px;
}
.instaimg{
    margin-top: 0.2px!important;
    margin-right: -3.5px!important;
    margin-right: 5px;
}

.sticky li p{
    padding-top:5px;
    margin-right:5px;
    line-height:16px;
    font-size:11px;
}
.sticky li p a{
    float:right;
    text-decoration:none;
    color:#2C3539;
    
}
.sticky li p a:hover{
    text-decoration:underline;
}

.exp-header-image-comment {
    background-image: url('https://cdn4.iconfinder.com/data/icons/meBaze-Freebies/512/info-chat.png');
    background-size: contain;
    border-radius: 0%!important;
    padding-top:10px!important;
    margin-top:10px!important;
    padding-left:10px!important;
    margin-left:10px!important;
}

.exp-header-image-avatar{
    background-image: url('https://appliedblockchain.com/wp-content/uploads/2016/10/User-Profile.png');
    background-size: contain;
    border-radius: 0%!important;
    padding-top:10px!important;
    margin-top:10px!important;
    padding-left:10px!important;
    margin-left:10px!important;
} 


 

/* label placeholder */

/* .form-row {
	position: relative;
	margin-top: 30px;
} */

.form-label {
	position: absolute;
	top: 100px;
	left: 25px;
	color: #999;
	cursor: text;
	transition: all .15s ease-in-out 0s;
}

.form-label-comment{
    position: absolute;
	top: 165px;
	left: 25px;
	color: #999;
	cursor: text;
	transition: all .15s ease-in-out 0s;
}

.form-textbox
 {
	width: 180px;
    padding: 10px;
    box-shadow: inset 0 0 10px rgba(0,0,0,.1);
    margin-top: 20px;
    margin-left: 20px;
    z-index:999;

}

.form-textbox-comment
 {
    word-break: break-word;
    width: 81%;
    height: 82px;
    /* padding: 20px; */
    box-shadow: inset 0 0 10px rgba(0,0,0,.1);
    margin-top: 30px;
    margin-left: 20px;
    outline: none;
    z-index:999;
    
}


.form-textbox:focus ~ .form-label,
.form-textbox:valid ~ .form-label {
	top: 6.5em;
	left: 25;
	font-size: .8em;
	color: inherit;
	cursor: pointer;
}

.form-textbox-comment:focus ~ .form-label-comment,
.form-textbox-comment:valid ~ .form-label-comment {
	top: 13em;
	left: 25;
	font-size: .8em;
	color: inherit;
	cursor: pointer;
}

.date{
    position: absolute;
    right: 0;
     margin-right:15px!important; 
     padding-top:4px!important;
      margin-top:4px!important;
      margin-bottom: 5px!important;
}

@media (max-width: 387px) 
{
    .form-label-comment{
        
        top: 205px;}

        .form-label {
           
            top: 136px;}
            .form-textbox:focus ~ .form-label,
.form-textbox:valid ~ .form-label {
    top: 9.5em;}
    
    .form-textbox-comment:focus ~ .form-label-comment,
.form-textbox-comment:valid ~ .form-label-comment {
	top: 16em;}

}

@media (max-width: 387px) 
{
    .exp-header-image-avatar
    {
        margin-top:27px!important;
    }
    .namecommnet{
        margin-top:25px!important;
    }
}

  /* #myBtn {
    cursor: pointer;
    position: fixed;
    bottom: .5em;
    right: .5em;
    padding: .5em;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 14px;
    outline-style: none;
   
 }
 
 #myBtn:hover {
    background-color: rgba(0, 0, 0, 0.6);
 }
 
 .btt-btn:active {
    background-color: rgba(0, 0, 0, 0.8);
 } */