<div class='row' style="background-color:lightgrey !important">
     <!-- <app-sidemenu></app-sidemenu> -->

    <app-navmenu></app-navmenu>
<!-- <nav>
    <a routerLink="/app-navmenu" routerLinkAcitve>alex</a>
</nav> -->

<router-outlet class="center"></router-outlet>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-content">
                    <div class="modal-header"style=" background-color:#333">
                      
                            <!-- rgb(16, 1, 58); -->
                         <h4 class="modal-title" id="myModalLabel"><font font color="white"> Go ahead and get my Resume</font></h4>
    
                    </div>
                    <div class="modal-body"style=" background-color:rgb(78, 81, 86)">
                        <a href='assets/Alexandros_Koulouris_CV.pdf' download>
                            <img  mat-card-image class="pdf-img" style=" height:50px; width:50px; margin-left:10px; margin-top:10px;" src="https://james-compton.com/wp-content/uploads/2016/08/E-Book.png">
                            <p class="pdf-txt" href='assets/Alexandros_Koulouris_CV.pdf' download style="display:inline; margin-left:30px;"><font font color="white">Alexandros Koulouris CV.pdf</font></p>
                        </a>
                        <a href='assets/Alexandros_Koulouris_CV.rtf' download>
                            <img  mat-card-image class="word-img" style=" display:inline; height:50px; width:50px; margin-left:10px; margin-top:10px;" src="https://s3.amazonaws.com/coursestorm/live/media/c64b2597f08a11e7987212b5ca500252">
                            <p   style="display:inline; margin-left:30px;"><font font color="white">Alexandros Koulouris CV.rtf</font></p>
                        </a>
                            
                    </div>
                    <div class="modal-footer" style=" background-color:#333"> 
                        <button  type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
     
                    </div>
                </div>
            </div>
        </div>
    </div>

    