@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-top: 50px;
    }

}
.modal-header{
border-bottom: 1px solid #333;
}
.modal-footer{
border-top: 1px solid rgb(78, 81, 86)
}

.modal {
}
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
   
}
@media (max-width: 768px) 
{
.modal-content {
    
     margin-left: 22px;
}
}

/* @media (max-width: 580px) {
   .pdf-txt{
    margin-right: 210px!important;
   }
} */
