li .glyphicon {
    margin-right: 10px;
}

/* Highlighting rules for nav menu items */
li.link-active a,
li.link-active a:hover,
li.link-active a:focus {
    background-color: #4189C7;
    color: white;
}

/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  
}

/*@media (min-width: 2768px) {*/
    /* On small screens, convert the nav menu to a vertical sidebar */
    /*.main-nav {
    height: 100%;
    width: calc(25% - 20px);
}*/

    .navbar {
        border-radius: 0px;
        border-width: 0px;
        height: 100%;
    }

    .navbar-header {
        float: none;
        

    }

    .navbar-collapse {
        border-top: 1px solid #444;
        padding: 0px;
    }

    .navbar ul {
        float: none;
    }

    .navbar li {
        float: none;
        font-size: 15px;
        margin: 6px;
    }

        .navbar li a {
            padding: 10px 16px;
            border-radius: 4px;
        }

    .navbar a {
        /* If a menu item's text is too long, truncate it */
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

        .navbar-collapse.collapse.in {
            display: block !important;
        }

    /*.navbar-nav {
        float: none !important;
    }
        .navbar-nav > li {
            float: none;
        }
      */

    .navbar-toggle {
        display: block !important;
    }


.navbar-brand {
    position :absolute!important;
        padding-left:0px!important;
        padding-top:0px!important;
    /*text-align: center;*/
}

@media (max-width: 767px) {
    .info-br {
        /*padding-left:calc(25% - 20px) !important;*/

    }

    .emailphoto {
        padding-left: 00px !important;
        margin-left: 00px !important;
        /*display: block !important;*/
    }
    
    .contair_info {
        float: right !important;
    }

     /*.changeline {
        display: block!important;
    }*/
}

@media (max-width: 372px)
{
    .myname
    {
        width:170px;
       
    }
}

 @media (max-width: 421px)
 {
    .phone
    {
        margin-right:240px;
    }
    .email {
        font-size: 14px!important;
    }
    .emailphoto
    {
        margin-left:4px!important;
        
    }
    .info-br
    {
        margin-left:4px!important;
    }
    

 }

   @media (max-width: 845px) 
  {
    .sidecardhead
    {
        margin-top: 90px!important;

    }

   }

   @media (max-width: 486px) 
   {
     .sidecardhead
     {
         margin-top: 93px!important;
 
     }
 
    }
    @media (max-width: 427px) 
    {
      .sidecardhead
      {
          margin-top: 130px!important;
  
      }

      .imagepro2 {
      
        
        width:50px;height:50px;
      
    }
    
  
     }
    

 :host {
    
    color: #fff;
    position: fixed;
    left: auto;
     top: 0;
    right: 0;
    bottom: 0; 
    width: 20%;
    min-width: 250px;
    z-index: 9;
    /* z-index: 9999; */
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   
  }
ul {
    font-size: 18px;
    line-height: 3;
    font-weight: 400;
    padding-top: 50px;
    list-style: none;
  }


  .imagepro2 {
    /* position: absolute; */
    margin-left:auto!important;
    margin-right: auto!important;

    border-radius: 50%;

    margin-top:10px!important;
    width:90px;height:90px;
    
}

.exp-header-imageside {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrnSVH2cG72z9fQ03HmbLRWKJOlKkVR497nTm_uBgyIsGC-FJ5');
    background-size: contain;
    border-radius: 0%!important;
    padding-top:10px!important;
    margin-top:10px!important;
    padding-left:10px!important;
    margin-left:10px!important;
    width:30px!important;
    height:30px!important;
}

.edu-header-imageside {
    background-image: url('https://cdn0.iconfinder.com/data/icons/student-2/100/student-1-512.png');
    background-size: contain;
    border-radius: 0% !important;
    padding-top: 10px !important;
    margin-top: 10px !important;
    padding-left: 10px !important;
    margin-left: 10px !important;
    width:35px!important;
    height:35px!important;
}

.slideheaderexp:hover
{
   background-color:blue!important;
   cursor:pointer;
   color:white;
}
.sidecardheadedu:hover
{
    background-color:blue!important;
    cursor:pointer;
    color:white;  
    
}


@media (max-width: 808px) 
    {
      .caption p
      {
        margin-top: 0px!important;
        margin-left: 00px;
        margin-right: auto!important;
        margin-left: auto!important;
        padding-right: auto;
         padding-left: auto!important;
         display: flex!important;
         line-height: 0.7;

      }

      
    }
    @media (max-width: 495px) 
    {
        .caption p:nth-child(2)
      
        {
         line-height: 0.7;
            
          overflow-x: hidden;
          text-indent: -185px;
          
        }
        .caption p:nth-child(1)
        {
            margin-top: 45px!important;
        }
      
    }
    @media (max-width: 422px) 
    {
        .caption p:nth-child(1)
        {
            margin-top: 75px!important;
        }
    }

.caption p
{
/*     
   color:white;
   overflow: hidden;

   animation:typing 5s steps(80) infinite,blink-caret .75s step-end infinite;

   white-space: nowrap;
 margin-left: 330px;
   margin-right: auto;
  
   position:fixed; */
   /* line-height: 0.7; */
   margin-left: 300px;
   margin-right: auto;
   margin-top: -20px;
   overflow: hidden; /* Ensures the content is not revealed until the animation */
   border-right: .15em solid rgb(10, 110, 241);  /* The typwriter cursor */
   white-space: nowrap;
    /* Keeps the content on a single line */
   /* margin: 0 auto; */
    /* Gives that scrolling effect as the typing happens */
   /* letter-spacing: .15em;  */
   /* Adjust as needed */
   
   
   
}
.caption p:nth-child(1)
{
    animation-delay: 10s;
    /* border-left: .15em solid rgb(10, 110, 241);  */
    animation: 
   typing 12s  infinite,
     blink-caret .0s  infinite
     
}
.caption p:nth-child(2)
{
    animation-delay: 10s;
    /* border-left: .15em solid rgb(10, 110, 241);  */
   animation: 
   /* typing2 12s steps(80, end) infinite, */
   typing2 12s  infinite,
     blink-caret .0s infinite

}

@keyframes typing{
    /* 0%{
        width: 0cm;
    }
    100%{
        width: 3cm;
    } */
    0%{width: 0;}
    50%{width: 1;}
    95%{
        border: none;}
    100%{ width: 13cm;
        border: none;} 
        
        
  
}

@keyframes typing2{
    0%{width: 0;
        border: none;}
    50%{width: 1;} 
    /* 60%{width:1;border:solid;} */
    100%{ width: 13cm; } 
  }
@keyframes blink-caret {
    from, to { border-color: transparent }
    
  }


/* 
.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-is-mobile .example-toolbar {
    position: fixed;
    
    z-index: 2;
  }
  
  h1.example-app-name {
    margin-left: 8px;
  }
  
  .example-sidenav-container {
    
    flex: 1;
  }
  
  .example-is-mobile .example-sidenav-container {
 
    flex: 1 0 auto;
  }
   */