
<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>



               <!-- data-target='.navbar-collapse'--- add for drop down menu -->
            <button style="margin-left:20px;" type='button' (click)="toggleMenu()" class='navbar-toggle' data-toggle='collapse' >
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>

            <!-- <button mat-icon-button (click)="snav.toggle()" class='navbar-toggle' >
              <span class='sr-only'>Toggle navigation</span>
              <span class='icon-bar'></span>
              <span class='icon-bar'></span>
              <span class='icon-bar'></span></button>

              <mat-sidenav-container class="example-sidenav-container"
              [style.marginTop.px]="mobileQuery.matches ? 56 : 0">

          
          
               </mat-sidenav-container> -->
         

             <!-- <button (click)="toggleMenu()" class="hamburger">
              <span>toggle menu</span>
            </button>  -->




            
            <!-- <button (click)="toggleMenu()">Toggle PopOver</button> -->
            
             <div id="container" class="contair_info" style="float:right!important;">

                <div id="image" style="display:inline;"> 
                 

               
                <p class="phone" style="padding-left:00px; display:inline;">
                    <a href="tel:917-495-2195">
                    <img class="info-br" src="assets/image/phone.png" style="height:28px;margin-top:3px; display:inline;">
                    <font color="white">+1 917 495 2195</font>
                    </a>
                </p>
              </div>
                <div id="image"   style="display:inline;">
                  <a href="mailto:alexandros_koulouris@hotmail.com">
                    <img class="emailphoto"  src="assets/image/email.png" style="height:28px;margin-top:5px; display:inline; padding-left:80px;">
                    <p class="email" style="display:inline; padding-left:00px; margin-right:auto!important;"><span style=""><font color="white">alexandros_koulouris@hotmail.com</font></span></p>
                  </a>
                </div> 
                
               
            </div>
            
            

             <img class="myname" src="assets/image/namelogo.png" style="height:40px;margin-left:15px;margin-top:5px;">
             
             <div class="caption">
              <p>"Just because something works...</p>
              <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;...doesn't mean that it cannot be improved".</p>
            </div>
        </div>

        



<div>
  <!-- <h2>Hello {{name}}</h2>
  <button (click)="CallFunction1()">Call Function 1</button> -->
 <!-- <p>{{typewriter_display }}</p>  -->
</div>

  

<!-- <script>
var i = 0;
var txt = 'Lorem ipsum dummy text blabla.';
var speed = 50;

function typeWriter() {
  if (i < txt.length) {
    document.getElementById("demo").innerHTML += txt.charAt(i);
    i++;
    setTimeout(typeWriter, speed);
  }
}
</script> -->


<!-- -----------------------------dropdown bootstarp menu---------------------------- -->
        
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/counter']">
                        <span class='glyphicon glyphicon-education'></span> Counter
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/fetch-data']">
                        <span class='glyphicon glyphicon-th-list'></span> Fetch data
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- ---------------------------------------------------------------------------------- -->
<!-- 
test -->


<!-- <button mat-icon-button (click)="snav.toggle()" class="mat-icon-button"><mat-icon>menu</mat-icon></button>
<h1 class="example-app-name">Responsive App</h1>

<mat-sidenav-container >
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a>alexaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</a>
      </mat-nav-list>
    </mat-sidenav>  
  </mat-sidenav-container> -->

  

  <!-- <div [@slideInOut]="menuState">
      <img class="myname" src="assets/image/namelogo.png">
      <p>Hello! I'm a helpful message.</p>
     
</div>
<app-sidemenu [@slideInOut]="menuState"></app-sidemenu> -->
<body [@slideInOut]="menuState"   style=" position: absolute;
min-height: 100% !important; background-color:rgb(192, 181, 181)!important;">

<mat-card  class="sidecardhead" style="margin-top: 52px;  background-color:#333!important;">
    
    <mat-card-content>
        
        <img mat-card-image class="imagepro2"  style="background-color:white !important" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAY8AAAAJDdjYzU0NWY2LTBjNzAtNDJkNy05ODk5LTk0MzU0YTZkYWI3YQ.jpg" alt="Photo of a Shiba Inu">
        <p style="display:inline; margin-left:5px"><font color="white">Software Developer</font></p>
        <img class="myname2" src="assets/image/namelogo.png" style="width:230px; height:40px;margin-left:0px;margin-right:0px; margin-top:5px;">
    </mat-card-content>   
  </mat-card>

  <mat-card id='#experiance'  (click)="scrollexp()"  class="sidecardheadexp" style="padding:0px!important; margin-top: 15px;">


      <mat-card-header class="slideheaderexp" >
          <br />
          <div mat-card-avatar class="exp-header-imageside"></div>
          <!--<img mat-card-image class="keydigital-img" style="padding:0px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrnSVH2cG72z9fQ03HmbLRWKJOlKkVR497nTm_uBgyIsGC-FJ5" alt="Photo of a Shiba Inu">-->
    
          <mat-card-title style="padding-left:5px!important; padding-top:7px!important; margin-top:10px!important;"><font size="3">Experience</font></mat-card-title>
      </mat-card-header>
    </mat-card>

      <mat-card (click)="scrolledu()" class="sidecardheadexp" style="padding:0px!important; margin-top: 5px;">


          <mat-card-header class="sidecardheadedu">
              <div mat-card-avatar class="edu-header-imageside"></div>
              <mat-card-title style="padding-left:5px!important; padding-top:10px!important; margin-top:10px!important;"><font size="3">Education</font></mat-card-title>
            </mat-card-header>
    </mat-card>
    <!-- <img mat-card-image class="imagepro"  style="padding:0px; margin-left:20px; position: absolute;
    bottom: 0;margin-top:auto;margin-bottom:auto; height:30px; width:30px; background-color:white !important" src="https://catinred.com/wp-content/uploads/2012/03/linkedin-logo-300x300.png"> -->

</body>


<!-- 
<ul [@slideInOut]="menuState">
    <li>Menu Item</li>
    <li>Menu Item</li>
    <li>Menu Item</li>
    <li>Menu Item</li>
    <li>Menu Item</li>
    <li>Menu Item</li>
  </ul> -->
  
 
  <!-- <div [@slideInOut]="menuState">
<ul visible="visible" alignment="left">
  <li>Menu Item</li>
  <li>Menu Item</li>
  <li>Menu Item</li>
  <li>Menu Item</li>
  <li>Menu Item</li>
  <li>Menu Item</li>
</ul>
</div> -->